@model ClubManager.Models.RegisterViewModel
@{
    ViewBag.Title = "Zarejestruj";
}

<h1 class="text-center m-50">Zarejestruj się</h1>
<div class="row mt-50 col-sm-offset-3">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label for="firstName" class="col-md-2 control-label">Imie</label>
            <div class="col-md-10">
                <input type="text" id="firstName" name="firstName" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-md-2 control-label">Nazwisko</label>
            <div class="col-md-10">
                <input type="text" id="lastName" name="lastName" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-md-2 control-label">Data urodzenia</label>
            <div class="col-md-10">
                <input type="date" id="birthDate" name="birthDate" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumber" class="col-md-2 control-label">Numer telefonu</label>
            <div class="col-md-10">
                <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="photo" class="col-md-2 control-label">Zdjęcie</label>
            <div class="col-md-10">
                <input type="file" id="photo" name="photo" class="form-control-static" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-success" value="Zarejestruj" />
            </div>
        </div>
    }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
