@model IEnumerable<ClubManager.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Kontakty</h2>

<div class="p-30">
    <button class="btn btn-info ml-20" onclick="showHide()">Wyślij nową wiadomość</button>
    <div class="m-20" id="sendMessageForm">
        @using (Html.BeginForm("CreateWithContact", "Message", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            {
                <div class="form-group">
                    <input type="text" id="ReceiverUserName" name="ReceiverUserName" class="form-control" placeholder="Nazwa użytkownika" />
                </div>
                <div class="form-group">
                    <textarea name="Content" id="Content" rows="4" class="form-control" placeholder="Wiadomość..."></textarea>
                </div>
                <div class="form-group">
                    <p class="col-md-offset-2 col-md-10 text-danger ">@ViewBag.ErrorMessage</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Wyślij wiadomość" class="btn btn-info" />
                </div>
            }
        }
    </div>
    <hr />  
    @foreach (var user in Model)
    {
        <p class="contact">
            <a href="@Url.Action("Messages", new { id = user.ID })">
                @if (user.Photo != null)
                {
                    <img src="~/Images/Photos/@user.Photo" alt="@user.UserName photo" class="user-photo-mini" />
                }
                else
                {
                    <i class="fas fa-user user-avatar-mini"></i>
                }
                @user.UserName
            </a>
        </p>
    }
</div>
<script>
    function showHide() {
        var x = document.getElementById("sendMessageForm");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>