@model ClubManager.Models.Training

<h1>Lista obecności na treningu @Model.Date</h1>
<h3>Drużyna: @Model.Team.Name</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.Hidden("trainingID", Model.ID)

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @foreach (var player in Model.Team.Players)
        {
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="playersList" value="@player.ID" /><span>@player.User.FirstName @player.User.LastName</span>
                </label>
            </div>
        }

        <div class="form-group">
            <div class="m-20">
                <input type="submit" value="Zatwierdź" class="btn btn-success" />
            </div>
        </div>
    </div>
}