@model ClubManager.Models.Club

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-sm-4">
        @if (Model.Logo != null)
        {
            <img src="~/Images/Logos/@Model.Logo" alt="@Model.Name logo" class="img-responsive" />
        }
        else
        {
            <i class="far fa-futbol club-logo-icon-mini"></i>
        }
    </div>
    <div class="col-sm-8 p-50">
        <h1>@Model.Name</h1>
        <p class="mt-30">Stadion: @Model.Stadium</p>
        <p>
            Manadżer:
            @foreach (var manager in Model.Managers)
            {
                <span>@manager.User.FirstName @manager.User.LastName </span>
            }
        </p>
    </div>

</div>
<div class="row">
    <hr />
    <h1 class="text-center">Drużyny</h1>
    @foreach (var team in Model.Teams)
    {
        <div class="jumbotron">
            <h2>@team.Name</h2>
            <p>
                Trener: @Html.ActionLink(team.Coach.User.FirstName + " " + team.Coach.User.LastName, "Details", "Coach", new { id = team.ClubID }, "")
            </p>
            <table class="table table-hover">
                @foreach (var player in team.Players)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(player.User.FirstName + " " + player.User.LastName, "Details", "Player", new { id = player.ID }, "")
                        </td>
                    </tr >
                }
            </table>
        </div>
    }
</div>