@model IEnumerable<ClubManager.Models.Club>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center">Kluby</h1>

<p>
    @Html.ActionLink("Dodaj nowy klub", "Add", new { }, new { @class = "btn btn-success add-new-button" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.Logo != null)
                {
                    <img src="~/Images/Logos/@item.Logo" alt="@item.Name logo" class="club-logo-img-mini" />
                }
                else
                {
                    <i class="far fa-futbol club-logo-icon-mini"></i>
                }
                @Html.ActionLink(item.Name, "Details", new { id = item.ID })
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit admin-panel-icon admin-panel-icon-edit" })
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fas fa-trash admin-panel-icon admin-panel-icon-delete" })
            </td>
        </tr>
    }

</table>