@model ClubManager.Models.Player

@{
    ViewBag.Title = "Details";
}

<div class="row mt-30">
    <div class="col-sm-4 text-center">
        @if (Model.User.Photo != null)
        {
            <img src="~/Images/Photos/@Model.User.Photo" alt="@Model.User.UserName photo" class="img-responsive" />
        }
        else
        {
            <i class="fas fa-user user-avatar"></i>
        }
    </div>
    <div class="col-sm-8 p-30">
        <h1>@Model.User.FirstName @Model.User.LastName</h1>
        <p class="mt-30"><label>Klub:</label> @Model.Club.Name</p>
        <p><label>Email:</label> @Model.User.UserName</p>
        <p><label>Nr. telefonu:</label> @Model.User.PhoneNumber</p>
        <p><label>Data urodzenia:</label> @Model.User.BirthDate</p>
    </div>
</div>
<hr class="mt-30"/>
<div class="row p-30">
    <div class="col-sm-6">
        <p><label>Wzrost: </label> @Model.Height cm</p>
    </div>
    <div class="col-sm-6">
        <p><label>Waga: </label> @Model.Weight kg</p>
    </div>
    <div class="col-sm-6">
        <p><label>Pozycja: </label> @Model.MainPosition</p>
    </div>
    <div class="col-sm-6">
        <p><label>Numer koszulki: </label> @Model.ShirtsNumber</p>
    </div>
    <div class="col-sm-6">
        <p><label>Noga: </label> @Model.LeadingLeg</p>
    </div>
</div>