@model IEnumerable<ClubManager.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h1 class="text-center m-30">Zawodnicy</h1>

<p>
    @Html.ActionLink("Dodaj nowego zawodnika", "Create", new { }, new { @class = "btn btn-success add-new-button" })
</p>
<table class="table table-hover">
    <tr>
        <th>
            Imie i nazwisko
        </th>
        <th>
            Drużyna
        </th>
        <th>
            Numer koszulki
        </th>
        <th>
            Pozycja
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.User.Photo != null)
                {
                    <img src="~/Images/Photos/@item.User.Photo" alt="@item.User.UserName photo" class="user-photo-mini" />
                }
                else
                {
                    <i class="fas fa-user user-avatar-mini"></i>
                }
                @Html.ActionLink(item.User.FirstName + " " + item.User.LastName, "Details", new { id = item.ID })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShirtsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainPosition)
            </td>
            <td class="text-center">
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit admin-panel-icon admin-panel-icon-edit" })
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fas fa-trash admin-panel-icon admin-panel-icon-delete" })
            </td>
        </tr>
    }

</table>
